<%= simple_form_for message, html: {class: "d-flex w-100"} do |f|%>
  <% other_user = current_user == @artist.user ? @client.user : @artist.user %>
  <div class="form-container w-100">
    <div class="input-message-container w-100">
      <%= f.text_area :body,
      placeholder: "Votre message...",
      class: "form-textarea-message",
      rows: 1,
      data: { controller: "autosize_input_message_controller" },
      input_html: { class: "rounded-pill mb-0" }
      %>
      <div class="form-submit-message">
        <%= f.submit "Envoyer", class: "btn-form-message btn btn-primary rounded-pill" %>
      </div>
    </div>
  </div>
<% end %>
