<div id="messages" class="messages-container">
  <%= turbo_stream_from "message_feed_#{@feed.id}" %>
  <% messages.each do |message| %>
    <%= render partial: 'messages/message', locals: { message: message} %>
  <% end %>
</div>
