<div class="message-page-container">
  <%= render partial: 'header', locals: { user: @user } %>

  <%= render partial: 'messages', locals: { messages: @messages, artist: @artist, client: @client} %>

  <%= render partial: 'form_message', locals: { message: @message, artist: @artist, client: @client } %>
</div>
