@import "../template.scss";

body {
  padding-inline: 19px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-hide {
  height: 48px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #4a4947;
}
