<div class="devise-container">
  <h2>Complétez votre profil artiste</h2>

    <%= simple_form_for @user, url: user_path(@user), method: :patch do |f| %>
      <div class="row">
        <div class="col-md-12">
          <%= f.input :bio, label: "Quelques mots sur vous", as: :text, input_html: { rows: 4 } %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= f.input :userable_address,
            label: "Votre adresse pro pour la géolocalisation",
            input_html: {
              name: "user[address]",
              value: @user.userable.address
            } %>
        </div>
      </div>

      <%= f.button :submit, "Enregistrer", class: "btn btn-primary mt-3" %>
    <% end %>
</div>
