<h1>Carte des artistes proches</h1>

<div
  data-controller="map-artists"
  data-map-artists-api-key-value="<%= ENV['MAP_BOX_API_KEY'] %>"
  data-map-artists-lat-value="<%= @user_lat %>"
  data-map-artists-lng-value="<%= @user_lng %>"
  data-map-artists-markers-value='<%= raw @users.map { |u| { lat: u.latitude, lng: u.longitude, pseudo: u.pseudo } }.to_json %>'
  style="height: 600px;">
</div>
