<div class="d-flex flex-column justify-content-start align-items-center">
  <%= render partial: 'artists/artist_profile/header_pseudo', locals: { artist: artist } %>
  <%= render partial: 'artists/artist_profile/header', locals: { artist: artist} %>
  <%= render partial: 'artists/artist_profile/body', locals: { artist: artist } %>
</div>
