<nav class="curved-navbar">
  <div class="wave"></div>
  <ul class="nav-icons">
    <li><a href="#"><img src="location-icon.svg" alt="Localisation" /></a></li>
    <li><a href="#"><img src="menu-icon.svg" alt="Menu" /></a></li>
    <li><a href="#"><img src="search-icon.svg" alt="Recherche" /></a></li>
    <li><a href="#"><img src="calendar-icon.svg" alt="Calendrier" /></a></li>
    <li><a href="#"><img src="profile-icon.svg" alt="Profil" /></a></li>
  </ul>
</nav>
