<div data-controller="tattoo-fabric"
     data-tattoo-fabric-photo-url-value="<%= url_for(@user.ar_photo) if @user.ar_photo.attached? %>"
     data-tattoo-fabric-tattoo-url-value="<%= cl_image_path(@tattoo_url.key) %>">
  <canvas data-tattoo-fabric-target="canvas"></canvas>
</div>
