
<div data-controller="tattoo-fabric"
     data-tattoo-fabric-photo-url-value="<%= url_for(@user.ar_photo) if @user.ar_photo.attached? %>"
     data-tattoo-fabric-tattoo-url-value="<%= cl_image_path(@tattoo_url.key) %>"
     class="canvas-container d-flex flex-column align-items-center">
  <%= link_to "retour", request.referer || root_path, class: "button-retour-circle btn btn-primary rounded-pill" %>
  <canvas data-tattoo-fabric-target="canvas"
  class="canvas-preview inner-shadow"></canvas>
  <button
    type="button"
    class="button-download-preview btn btn-primary w-100 mt-4 rounded-pill"
    data-action="tattoo-fabric#download">
    Télécharger
  </button>
</div>
