@import "../template.scss";

.follow-card {
  background-color: $primary-color;
  width: 100%;
  border: 1px solid #444;
  transition: background-color 0.2s ease;
  color: $text-color;
  box-shadow: $shadow-md;

  &:hover {
    background-color: $primary-color-hover;
  }
}
