@import "../template.scss";

.message-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.chat-wrapper{
  flex-grow: 1;
  height: calc(100vh - 142px);
}

.messages-container{
  display: flex;
  position: relative;
  overflow: auto;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: calc(100vh - 142px);
  padding-bottom: 24px;
  transition: height 0.2s ease;
}

.form-message-container{
  width: 100%;
  padding-inline: 19px;
  position: absolute;
  bottom: 12px;
  left: 0;
}

.message-from-another-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  height: fit-content;
  margin-bottom: $spacing-md;
  .message-timestramp{
    color: $info-color;
    font-size: $font-size-sm;
    font-family: $font-family-base;
  }
}

.message-from-me-container{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: end;
  height: fit-content;
  margin-bottom: $spacing-md;

  .message-timestramp{
    color: $info-color;
    font-size: $font-size-sm;
    font-family: $font-family-base;
  }
}

.message-from-another{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: $light-gray;
  padding-inline: 17px;
  padding-top: 4px;
  padding-bottom: 4px;

  border-radius: $border-radius $border-radius $border-radius 0.12rem;
  color: $accent-color;
  font-size: $font-size-base;
  font-family: $font-family-base;


  word-break: break-word; // ✅ coupe les mots très longs
  overflow-wrap: anywhere; // ✅ s’assure que même les chaînes sans espaces se coupent

  p {
    font-size: $font-size-base;
    word-break: break-word;
    overflow-wrap: anywhere;
  }

  ul, li {
    word-break: break-word;
    overflow-wrap: anywhere;
  }
}

.button-container-rapport{
  width: 100%;
}

.sumarry-contenaire {
  font-size: $font-size-sm; // ou 0.85rem pour rendre plus petit
  width: fit-content;

  .d-flex{
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.message-from-me{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  background-color: $primary-color;
  padding-inline: 17px;
  padding-top: 4px;
  padding-bottom: 4px;

  border-radius: $border-radius $border-radius 0.12rem $border-radius;
  color: $gray;
  font-size: $font-size-base;
  font-family: $font-family-base;


  word-break: break-word; // ✅ coupe les mots très longs
  overflow-wrap: anywhere; // ✅ même pour les chaînes sans espace

  p {
    font-size: $font-size-base;
    word-break: break-word;
    overflow-wrap: anywhere;
  }

  .d-flex{
    width: 100%;
  }
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.input-message-container {
  position: relative;
  width: 100%;
}

.form-textarea-message {
  width: 100%;
  min-height: 35px;
  max-height: 108px; // facultatif pour limiter la hauteur
  padding: 8px 135px 8px 18px;
  border: 1px solid $gray;
  color: $light-gray;
  background-color: $accent-color;
  font-size: $font-size-base;
  font-family: $font-family-base;
  border-radius: 18px;
  margin: 0;
  resize: none;
  overflow: hidden;
  line-height: 1.4;

  &::placeholder {
    color: $light-gray;
  }

  &:focus {
    outline: none;
    color: $light-gray;
  }
}

.btn-form-message {
  position: absolute;
  right: 3.2px;
  bottom: 10px; // ajuster si besoin
  height: 32px;
  padding: 0px 12px;
  font-size: $font-size-base;
  font-family: $font-family-base;
}

.form-upload-photo{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 98px;
  bottom: 10px;
  height: 32px;
  width: 32px;

  .upload-label{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;

    i{
      font-size: $font-size-base;
    };
  }
}

.button-ar-rond{
  width: 32px;
  height: 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $primary-color;
  cursor: pointer;
}

.message-photo-ar-container{
  max-width: 80%; // ✅ limite la largeur du message
  width: auto;
}

.pastille-notif{
  position: absolute;
  top: 0px;
  right: 28px;
  width: 14px;
  height: 14px;
  background-color: rgb(255, 45, 45);
  border-radius: 50%;
}
